In [ ]:
A dictionary is a collection of keyâ€“value pairs in Python.
A dictionary is an unordered collection of items in Python.
Each value is accessed using its key, not by position (like in lists).

In [ ]:

Keys are unique and immutable (like strings, numbers, tuples).
Values can be any Python object, even another dictionary.

In [ ]:
#mutable
#keys are not duplicate
#keys are not mutable
#values are mutable

In [ ]:
s={}

In [19]:
s={1,2,3,'renu'}
type(s)

set

In [20]:
s={'a':10}
type(s)
s['a']

10

In [1]:
s={'name':'renu'}
print(s)

{'name': 'renu'}

In [4]:
s['renu']

KeyError: 'renu'

In [21]:
d={'name':'renu','age':36,'addr':'ambala'}
d['age']

36

In [ ]:
d.keys()

In [23]:
d.values()

dict_values(['renu', 36, 'ambala'])

In [26]:
e={'name':['renu','ritu'],'age':[36,30]}
e

{'name': ['renu', 'ritu'], 'age': [36, 30]}

In [10]:
e['name']

['renu', 'ritu']

In [ ]:
#why we use dict
#Data with Meaningful Labels
[36, 30]
{"renu": 36, "ritu": 30}
# 1 You can quickly find or modify data using its key:
#store and access data using keys instead of numeric indexes
#Fast Lookup (Search)
#  Accessing a value by its key is very fast (O(1) time)
#Data with Meaningful Labels
[36, 30]
{"renu": 36, "ritu": 30}

# representation of dict in dataframe

In [27]:
import pandas as pd
df=pd.DataFrame(e)
df

   name  age
0  renu   36
1  ritu   30

In [12]:
l=['renu','ritu']
l1=[36,30]
df=pd.DataFrame({'name':l,'age':l1})
df

   name  age
0  renu   36
1  ritu   30

In [16]:
df2=pd.DataFrame(df1,columns=['name','age'])
df2

   name  age
0  renu   36
1  ritu   30

# conversion of dict in to list,set

In [29]:
d={'name':'renu','age':36,'addr':'ambala'}

print(set(d))
print(list(d))
d.keys() #This  returns a view object of the dictionary keys.
d.values() #This returns a view object of the dictionary values.

{'addr', 'name', 'age'}
['name', 'age', 'addr']

dict_values(['renu', 36, 'ambala'])

In [31]:
for i in d.values():
    print(i)

renu
36
ambala

In [ ]:
list(d.keys())  # ['name', 'age', 'addr']
set(d.keys())   # {'name', 'age', 'addr'}

In [34]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}

In [ ]:
# Accessing Values

In [ ]:
#.get(key, default) returns the value for key if it exists, otherwise returns default

In [36]:
print(student["grade"])     # Output: Aarav
print(d.get("age"))  # Output: 21

KeyError: 'grade'

In [ ]:
# keyerror

In [38]:
#print(d["gra"])     #error
print(student.get("age"))  # Output: 21

21

In [37]:
print(student.get("grade","N/A"))

N/A

# Adding & Updating Elements

In [9]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}

In [39]:
student["grade"] = "A"       # Add new key-value pair
student["age"] = 22          # Update existing value
print(student)

{'name': 'Aarav', 'age': 22, 'course': 'Computer Science', 'grade': 'A'}

In [ ]:
#permanenet change
student["age"] = 22    assignment # add and update single key
.setdefault #add but not update
update  # update existing key and add new key (multiple keys) 
# create new dict
#packing

In [40]:
#assignment example
s= {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
s['name']='renu'      #update
s

{'name': 'renu', 'age': 21, 'course': 'Computer Science'}

In [41]:
s['grade']='a' #add 
s

{'name': 'renu', 'age': 21, 'course': 'Computer Science', 'grade': 'a'}

In [42]:
#add but not update
s.setdefault("grade",'b') # not update
s

{'name': 'renu', 'age': 21, 'course': 'Computer Science', 'grade': 'a'}

In [43]:
s.setdefault("address","ambala") #add 
s

{'name': 'renu',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'ambala'}

In [49]:
# update existing key and add new key (multiple keys)
s.update({"address":"karnal"}) #update
s

{'name': 'renu',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'karnal'}

In [50]:
s.update({'mob':8529}) # add
s

{'name': 'renu',
 'age': 21,
 'course': 'Computer Science',
 'grade': 'a',
 'address': 'karnal',
 'mob': 8529}

In [45]:
s.update({"address": "karnal", "name": "ritu","abc":'xyz'})
print(s)

{'name': 'ritu', 'age': 21, 'course': 'Computer Science', 'grade': 'a', 'address': 'karnal', 'abc': 'xyz'}

# combine two dict

In [51]:
student = {"name": "Riya", "age": 23}
new_data = {"grade": "A", "city": "Delhi"}

merged = {**student, **new_data}
print(merged)

{'name': 'Riya', 'age': 23, 'grade': 'A', 'city': 'Delhi'}

In [46]:
d1= {"name": "Riya", "age": 23}
d2= {"grade": "A", "city": "Delhi"}
new=d1|d2
new

{'name': 'Riya', 'age': 23, 'grade': 'A', 'city': 'Delhi'}

In [ ]:
# add multiple element in dict
but dictionaries themselves store only one value per key.

In [47]:
student = {"name": "Riya", "grades": [85, 90]}

# Add another grade
student["grades"].append(95)
print(student)

{'name': 'Riya', 'grades': [85, 90, 95]}

In [60]:
# add new key with multiple element using list
student["age"].append(95) #give error
print(student)

KeyError: 'age'

In [50]:
#safe side
student = {"name": "Riya", "grades": [85, 90]}
student.setdefault("age", []).append(95)
student

{'name': 'Riya', 'grades': [85, 90], 'age': [95]}

In [51]:
student.setdefault("age", []).extend([95])
student

{'name': 'Riya', 'grades': [85, 90], 'age': [95, 95]}

In [ ]:
student = {"name": "Riya", "grades": [85, 90]}

In [52]:
# do later
student["name"] = [student["name"]] if isinstance(student["name"], str) else student["name"]
print(student)
# Now append
student["name"].append('ritu')

print(student)

{'name': ['Riya'], 'grades': [85, 90], 'age': [95, 95]}
{'name': ['Riya', 'ritu'], 'grades': [85, 90], 'age': [95, 95]}

In [ ]:
# remove
pop(key) # if not available key error
pop(key,None) #safer side
popitem #randomnly pop any item
del partially and fully
clear  # empty a dict

In [53]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
print(student.pop('name'))

Aarav

In [63]:
print(student)

{'age': 21, 'course': 'Computer Science'}

In [27]:
student.pop('name') # give key error

KeyError: 'name'

In [69]:
student.pop('name',None) #SAFE SIDE

In [54]:
student.popitem()

('course', 'Computer Science')

In [55]:
student

{'age': 21}

In [13]:
#want to delete multiple key in one go
student = {"name": "Renu", "age": 22, "city": "Karnal", "grade": "A"}

for key in ["age", "city"]:  
    student.pop(key, None)

print(student)

{'name': 'Renu', 'grade': 'A'}

In [66]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
del student['name']

In [67]:
student

{'age': 21, 'course': 'Computer Science'}

In [ ]:
student.clear()

In [35]:
del student

In [36]:
student

NameError: name 'student' is not defined

# membership

In [79]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
print("name" in student)
print(21 in student.values())

True
True

# Looping Through a Dictionary

In [14]:
student = {
    "name": "Aarav",
    "age": 21,
    "course": "Computer Science"
}
student.items()

dict_items([('name', 'Aarav'), ('age', 21), ('course', 'Computer Science')])

In [39]:
for key in student:
    print(key, ":", student[key])

name : Aarav
age : 21
course : Computer Science

In [40]:
for key, value in student.items():
    print(key, "=", value)

name = Aarav
age = 21
course = Computer Science

In [42]:
for key in student.keys():
    print(key)

name
age
course

In [73]:
for value in student.values():
    print(value)

Aarav
21
Computer Science

In [76]:
student.keys() # list output

dict_keys(['name', 'age', 'course'])

In [77]:
student.values()

dict_values(['Aarav', 21, 'Computer Science'])

In [78]:
student.items()

dict_items([('name', 'Aarav'), ('age', 21), ('course', 'Computer Science')])

In [ ]:
Nested Dictionaries

In [ ]:
A nested dictionary is a dictionary where values themselves can be dictionaries 
(or even other collections like lists).

In [ ]:
students has keys "student1", "student2"

In [80]:
students = {
    "student1": {"name": "Renu", "age": 22},
    "student2": {"name": "Ritu", "age": 21}
}
print(students["student1"])
print(students["student1"]["name"])

{'name': 'Renu', 'age': 22}
Renu

In [81]:
#update 
students["student2"]["city"] = "Noida"

In [82]:
# add new key value
students["student2"]["grade"] = "A"
print(students["student2"])

{'name': 'Ritu', 'age': 21, 'city': 'Noida', 'grade': 'A'}

In [83]:
# add new nested key
students["student3"] = {"name": "Ravi", "age": 20, "city": "Patiala"}
print(students["student3"])

{'name': 'Ravi', 'age': 20, 'city': 'Patiala'}

In [84]:
students

{'student1': {'name': 'Renu', 'age': 22},
 'student2': {'name': 'Ritu', 'age': 21, 'city': 'Noida', 'grade': 'A'},
 'student3': {'name': 'Ravi', 'age': 20, 'city': 'Patiala'}}

# merge the two dict

In [16]:
#If keys overlap, values from the second dictionary overwrite the first
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}

merged = dict1 | dict2
print(merged)

{'a': 1, 'b': 3, 'c': 4}

In [17]:
dict1.update(dict2) #dict1 is changed itself
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
merged = {k: dict1.get(k, 0) + dict2.get(k, 0) for k in set(dict1) | set(dict2)}
print(merged)