In [ ]:
1. Introduction to Lists

A list is a mutable (changeable), ordered sequence of elements.

Lists can hold items of any data type (including mixed types).

In [ ]:
list characterstics
ordered
items can be access
changable
heterogenous
can have duplicate value
are dynamic
can be nested
can contain any type of object

In [ ]:
#list v/s array
access
editing
deleting
operation
function

In [ ]:
comma seperated with in sq bracket
we can store multiple information under one variable

In [ ]:
#representation

In [ ]:
# Example:
l1 = [1, "hello", 3.14, True]

In [21]:
l=[20,"java",35.76,[30,40,24]]
l[3][0]

30

In [ ]:
#take every element as a row

In [1]:
import pandas as pd

In [31]:
l=['renu','ritu','sahil','yuvaan','advika']

df_col = pd.DataFrame(l,columns=['name'])
print(df_col)

     name
0    renu
1    ritu
2   sahil
3  yuvaan
4  advika

In [42]:
data = ['renu',36,'ambala']

df = pd.DataFrame([data],columns=['name','age','add'])
print(df)

   name  age     add
0  renu   36  ambala

In [43]:
l=['yuvaan',9,'ambala']
df.loc[len(df)]=l
df

     name  age     add
0    renu   36  ambala
1  yuvaan    9  ambala

In [45]:
data = [
    [10, 20, 30],   # Row 1
    [50, 60, 70],   # Row 2
    [90, 100, 120] # Row 3
]

df1 = pd.DataFrame(data, columns=['X', 'Y', 'Z'])
print(df1)

    X    Y    Z
0  10   20   30
1  50   60   70
2  90  100  120

In [48]:
pd.concat([df,df1],ignore_index=True)

     name   age     add     X      Y      Z
0    renu  36.0  ambala   NaN    NaN    NaN
1  yuvaan   9.0  ambala   NaN    NaN    NaN
2     NaN   NaN     NaN  10.0   20.0   30.0
3     NaN   NaN     NaN  50.0   60.0   70.0
4     NaN   NaN     NaN  90.0  100.0  120.0

In [54]:
# Empty list
a = []
print(a)

# With elements
b = [10, 20, 30]

# 2d list
d=[[1,2,3,4],[3,4],[3,45,34]]
d[0]

# type conversion
c = list("Python")  # ['P', 'y', 't', 'h', 'o', 'n']

[]

In [53]:
# 2d list
d=[[1,2,3,4],[3,4],[3,45,34]]
d[0]

[1, 2, 3, 4]

In [ ]:
nums = [10, 20, 30, 40, 50]

# Positive indexing
nums[0]   # 10
nums[3]   # 40

# Negative indexing
nums[-1]  # 50
nums[-3]  # 30

In [58]:
d=[[1,2,3,4],[3,4],[3,45,34]]
d[1][1]

4

In [ ]:
sequence[start:stop:step]
start include
stop exclude

In [63]:
nums = [10, 20, 30, 40, 50, 60]

nums[1:4]    # [20, 30, 40]
nums[:3]     # [10, 20, 30]
nums[3:]     # [40, 50, 60]
nums[::2]    # [10, 30, 50]
nums[::-1]   # reverse: [60, 50, 40, 30, 20, 10]
print(nums[-3:])
print(nums[-4:-1])
print(nums[0:6:3])

[40, 50, 60]
[30, 40, 50]
[10, 40]

In [64]:
nums = [1, 2, 3]

# Change element
nums[1] = 200  # [1, 200, 3]

# Add new element
nums.append(4)  # [1, 200, 3, 4]

# Insert at specific position
nums.insert(1, 100)  # [1, 100, 200, 3, 4]

# Extend with (multiple items)
nums.extend([5, 6,8])  # [1, 100, 200, 3, 4, 5, 6,8]

In [ ]:
append
add a single element in the list
modfy the list itself
if y append element ,it will be  nested ,not merged
in dataframe -to add one or more row ,but now it is replce by concat

In [67]:
nums = [1, 2, 3]
nums.append(4) 
nums

[1, 2, 3, 4]

In [68]:
nums = [1, 2, 3]
nums.append([4,5,7]) #append a list as single element
nums

[1, 2, 3, [4, 5, 7]]

In [ ]:
#if y want to add multiple items individually use extend
# Extend with (multiple items)
nums.extend([5, 6,8])  # [1, 100, 200, 3, 4, 5, 6,8]

In [ ]:
#editing

In [74]:
l=[2,4,6,7]
l[0]=100
l

[100, 4, 6, 7]

In [76]:
l[0:2]=[100]
l

[100, 7]

In [77]:
l[1:4]=[200,300,400]
l

[100, 200, 300, 400]

In [78]:
l[-2:]=[5,6,7] #list can grow and shrink accordingly
l

[100, 200, 5, 6, 7]

In [ ]:
#deletion

In [ ]:
partially and fully

In [80]:
del l[-1]
l

[100, 200, 5]

In [81]:
del l[1:3]
l

[100]

In [82]:
del l

In [83]:
l

NameError: name 'l' is not defined

In [ ]:
nums = [1, 2, 3, 4, 5]

# Remove by value
nums.remove(3)  # [1, 2, 4, 5]

# Remove by index
nums.pop(2)     # removes 4 → [1, 2, 5]

# Remove last
nums.pop()      # removes 5 → [1, 2]

# Clear all elements
nums.clear()    # [] #empty list

# operation

In [ ]:
#operation
arithmetic  +
membership   in,not in
loop for

In [3]:
l1=[1,2,3]
l2=[4,5,6]
l3=l1+l2
l3

[1, 2, 3, 4, 5, 6]

In [6]:
l1=[1,2,3]
l1*6

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [85]:
l4=[i+j for i,j in zip(l1,l2)]
l4

[5, 7, 9]

In [4]:
s="renu"
s*3

'renurenurenu'

In [ ]:
# Concatenation
[1, 2] + [3, 4]  # [1, 2, 3, 4]

# Repetition
[0] * 4          # [0, 0, 0, 0]

# Membership
3 in [1, 2, 3]   # True

In [22]:
s="hello","  world"
s[0]
'  world' in s

True

In [25]:
s="hello world"
'a' in s

False

In [30]:
nums = [10, 20, 30]

# Simple loop
for n in [10, 20, 30]:
    print(n)

10
20
30

In [29]:
# With index
for a,b in [(0, 20), (1, 40), (2, 'renu')]:
    print(a, b)

0 20
1 40
2 renu

In [97]:
a=list(enumerate([10,20,30]))
a

[(0, 10), (1, 20), (2, 30)]

In [98]:
for ind,val in enumerate([10,20,30]):
    print(ind,val)

0 10
1 20
2 30

# function

In [32]:
l=[[1,2,3,4,5]]
len(l)

1

In [33]:
l=[[4,5,67],[2,3,4]]
len(l) #len() returns the number of elements in the outer list.
#min(l)

2

In [35]:
l=[4,5,67,2,3,4]   #1d
min(l)

2

In [38]:
l=[[4,5],[8,5]]  #compare with first element
max(l)

[8, 5]

In [42]:
l=[[14,5,12],[4,5,5]]
max(l)

[14, 5, 12]

In [ ]:
l=[4,5,67,2,3,4]
l.count(2)

In [47]:
l=[[14,5,12],[4,5,5],[4,5,5]]
l.count([4,5,5]) #how many times x appears in the list

2

In [ ]:
2d array
will only match exact sublists, not elements inside the sublists.

In [44]:
#id array
l=[2,35,4,32,2]
l.count(32)

1

In [ ]:
list.index(x[, start[, end]])
Purpose: Returns the index of the first occurrence of x in the list.
value → The element you want to find
start (optional) → Search from this index
end (optional) → Search up to this index
Returns: The index of the first match
Raises: ValueError if the element is not found

In [51]:
l = [10, 20, 30, 20, 40]
l.index(20)  # Output: 1, because the first 20 is at index 1
l.index(20, 2)  # Output: 3, start searching from index 2

3

In [ ]:
in 2d
index() only matches entire elements, so it won’t find 5 inside [4,5,1]

l = [[4,5,1],[4,5]]
l.index([4,5,1])  # Output: 0
l.index([4,5])    # Output: 1

# reverse

In [66]:
l=[2,3,4,5,6]
l.reverse()
l

[6, 5, 4, 3, 2]

In [67]:
l1=[[1, 5, 4], [5, 4]]
l1.reverse()
l1

[[5, 4], [1, 5, 4]]

In [68]:
l=[[1, 5, 4], [5, 4]]
for i in l:        #[1,5,7]
    i.reverse()

print(l)

[[4, 5, 1], [4, 5]]

# permanent sort

In [ ]:
sort() sorts elements inside each sublist in ascending order by default.

In [70]:
l1=[10,4,2,3,6,78]
l1.sort()
print(l1)

[2, 3, 4, 6, 10, 78]

In [74]:
l1

[78, 6, 4, 3, 2, 1]

In [75]:
l=[2,5,1]
l.sort()
print(l)

[1, 2, 5]

In [76]:
l

[1, 2, 5]

In [73]:
l1=[1,4,2,3,6,78]
l1.sort(reverse=True)
print(l1)

[78, 6, 4, 3, 2, 1]

In [77]:
l = [[4, 5, 1], [4, 5]]
for i in l:
    i.sort()
    print(i,end="")

[1, 4, 5][4, 5]

In [ ]:
sorted(iterable, key=None, reverse=False)

In [ ]:
l = [5, 2, 9, 1]
new_list = sorted(l)
print(new_list)  # Output: [1, 2, 5, 9]
print(l)         # Original list remains: [5, 2, 9, 1]

In [80]:
l = [5, 2, 9, 1]
a=sorted(l)
print(l)
print(a)

[5, 2, 9, 1]
[1, 2, 5, 9]

In [ ]:
#copy
A shallow copy creates a new list object, 
but the elements themselves are references to the same objects in the original list.

In [ ]:


#Using copy module
import copy
copy3 = copy.copy(l)

In [82]:
#in 1d
l=[1,2,3,4,5]
import copy
l1 = copy.copy(l)
l1[2]=20
print(l1)
print(l)

[1, 2, 20, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
#in case of 2d
it create a new outer list. But the inner lists are still the same objects:

In [84]:
l = [[1, 2], [3, 4]]
import copy
l1 = copy.copy(l)
l1[0][0] = 100
print(l1)
print(l)
#print(id(l1[0]))
#print(id(l[0]))

[[100, 2], [3, 4]]
[[100, 2], [3, 4]]

In [ ]:
A deep copy duplicates all nested objects, 
so changes in the original list do not affect the copy.

In [86]:
import copy
l = [[1, 2], [3, 4]]
l1= copy.deepcopy(l)
l[0][0] = 500
print(l1) 
print(l)

[[1, 2], [3, 4]]
[[500, 2], [3, 4]]