#  Introduction to Lists

In [ ]:
A list is a mutable (changeable), ordered sequence of elements.
Lists can hold items of any data type (including mixed types).

# list characterstics

In [ ]:
list characterstics
ordered
items can be access
changable
heterogenous
can have duplicate value
are dynamic
can be nested
can contain any type of object

# topic to be covered

In [ ]:
access
editing
deleting
operation
function

# how list look like

In [ ]:
comma seperated with in sq bracket
we can store multiple information under one variable

In [ ]:
# empty list,1d,2d, type conversion

In [5]:
l=[1,2,3,'renu']
print(l)

[1, 2, 3, 'renu']

In [6]:
l1=[[1,2],['renu','ritu']]
l1

[[1, 2], ['renu', 'ritu']]

In [ ]:
l

In [7]:
s="hello world"
l=list(s)
print(l)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [8]:
n=1234
n1=list(n)
n1

TypeError: 'int' object is not iterable

In [ ]:
# Each item in the list represents a product in the cart
cart = ["T-shirt", "Shoes", "Watch"]

# Add a new item
cart.append("Hat")
print(cart)

# Remove an item
cart.remove("Shoes")

# Display all items
print("Your Cart:")
for item in cart:
    print( item)

In [10]:
cart = ["T-shirt", "Shoes", "Watch"]

# Add a new item
cart.append("Hat")
print(cart)
cart.remove("Shoes")
print(cart)

['T-shirt', 'Shoes', 'Watch', 'Hat']
['T-shirt', 'Watch', 'Hat']

In [ ]:
item1='t-shirt'
item2='shoes'

In [11]:
cart = ["T-shirt", "Shoes", "Watch"]
for i in cart:
    print(i)

T-shirt
Shoes
Watch

In [7]:
#use in pandas 
#take every element as a row
# single element as single row
import pandas as pd
l=['renu','ritu','sahil','yuvaan','advika']

df1 = pd.DataFrame(l)
print(df1)

        0
0    renu
1    ritu
2   sahil
3  yuvaan
4  advika

In [5]:
l=['renu','ritu','sahil','yuvaan','advika']
l[4]

'advika'

In [ ]:
l=['renu','ritu','sahil','yuvaan','advika']
print(l))
print(l[0])
print(l[1])
print(l[2])
print(l[3])

In [81]:
#multiple elements in single row use 2d

l1= [[1,6,3],[1,9,2],[3,23,4]]

df = pd.DataFrame(l1,columns=['c1','c2','c3'])
print(df)
min(df)

   c1  c2  c3
0   1   6   3
1   1   9   2
2   3  23   4

'c1'

In [13]:
l1[2][0]

'xyz'

In [5]:
print(l1)
print(l1[0])
print(l1[1])

[['renu', 36, 'ambala'], ['yuvaan', 9, 'ambala']]
['renu', 36, 'ambala']
['yuvaan', 9, 'ambala']

# access

In [ ]:
#1id,2d
#index
#slicing

In [ ]:
nums = [10, 20, 30, 40, 50]
# Positive indexing
nums[0]   # 10
nums[3]   # 40
# Negative indexing
nums[-1]  # 50
nums[-3]  # 30

In [ ]:
d=[[1,2,3,4],[3,4],[3,45,34]]
d[1][1]

# slicing

In [ ]:
sequence[start:stop:step]
start include
stop exclude

In [33]:
l = [10, 20, 30, 40]
l[-4:-1]

[10, 20, 30]

In [ ]:
nums[1:4]    # [20, 30, 40]
nums[:3]     # [10, 20, 30]
nums[3:]     # [40, 50, 60]
nums[::2]    # [10, 30, 50]
nums[::-1]   # reverse: [60, 50, 40, 30, 20, 10]
print(nums[-3:]) # [40, 50, 60]
print(nums[-4:-1]) #[30, 40, 50]
print(nums[0:6:3]) #[10, 40]

# Editing

# append

In [ ]:

add as a single element at the end of the list
modify the list itself
if we append element ,it will be  nested ,not merged

In [40]:
# Add new element
nums = [1, 2, 3]
nums.append(4)  # [1, 200, 3, 4]
print(nums)

[1, 2, 3, 4]

In [44]:
nums = [1, 2, 3]
nums.append([4,5,7]) #append a list as single element
nums[3][2]

7

In [48]:
# Insert at specific position
nums = [1, 2, 3]
nums.insert(1, 100) 
nums# [1, 100,3]

[1, 100, 2, 3]

In [ ]:
#if we want to add multiple items individually use extend
# Extend with (multiple items)
#You can extend a list with any iterable (not just another list).

In [46]:
nums = [1, 2, 3]
nums.extend([5, 6,8])  # [1, 100, 200, 3, 4, 5, 6,8]
nums[4]

6

# Difference Between append() and extend()

In [50]:
l1= ["apple", "banana"]
l2 = ["cherry", "mango"]

l1.append(l2)
print("append:", l1)
print(l2)

append: ['apple', 'banana', ['cherry', 'mango']]
['cherry', 'mango']

In [52]:
l1 = ["apple", "banana"]
l1.extend(l2)
print("extend:", l1)
print(l2)

extend: ['apple', 'banana', 'cherry', 'mango']
['cherry', 'mango']

# Editing

In [ ]:
#using index [8]
#using slicing [1:3]=[100,200]
#[1:3]=[100]
#l[-2:]=[5,6,7] #list can grow and shrink accordingly

In [ ]:
l=[2,4,6,7]
l[0]=100
l

In [56]:
l=[2,4,6,7]
l[0:3]=[100]
l

[100, 7]

In [ ]:
l=[2,4,6,7]
l[0]=200
l[1]=300
l[2]=400

In [57]:
l=[2,4,6,7]
l[1:4]=[200,300,400]
l

[2, 200, 300, 400]

In [62]:
l=[2,4,6,7,8,5,6,70]
print(len(l))
l[-2:]=[5] #list can grow and shrink accordingly
print(l)
print(len(l))

8
[2, 4, 6, 7, 8, 5, 5]
7

# deletion

In [ ]:
partially and fully
#l[-1],l[1:3],del l

In [63]:
l=[2,4,6,7] #using index
del l[-1]
l

[2, 4, 6]

In [64]:
del l[1:3]
l

[2]

In [65]:
del l

In [66]:
l

NameError: name 'l' is not defined

In [67]:
nums = [1, 2, 3, 4, 5]

# Remove by value
nums.remove(3)  # [1, 2, 4, 5]

In [68]:
nums

[1, 2, 4, 5]

In [70]:
# Remove by index
nums.pop(1)     # removes 4 → [1, 2, 5]
nums

[1, 5]

In [ ]:
# Remove last
nums.pop()      # removes 5 → [1, 2]

# Clear all elements
nums.clear()    # [] #empty list

In [71]:
nums.clear()

In [73]:
del nums

In [74]:
nums

NameError: name 'nums' is not defined

# operations